# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
*.env

# Application Data - Contains user-specific information
weights.xlsx

# Generated static files - The script creates this folder and its contents
static/